<section class="ui inverted teal table">
  <thead>
     <th>Weather Code</th>
      <th>Temp °C</th>
      <th>Temp °F</th>
      <th>Wind Speed (km/hr)</th>
      <th>Wind Direction</th> 
      <th>Pressure (hPa)</th>
      <th>Delete</th>
  </thead>
  
  <tbody>
    {{#each station.readings}}
  <tr>
  <td>{{reading.code}}</td>
  <td>{{reading.temp}} C</td>
  <td>{{reading.temp}} C</td>
  <td>{{reading.windSpeed}} </td>
  <td>{{reading.windDir}} </td>
  <td>{{reading.pressure}} </td>
  <td> <a href="/station/deletereading/{{readingId}}" class="ui icon button">
      <i class="red icon trash"></i>Delete Reading</a> </td>
    </tr>
    {{/each}}
  </tbody>
</section>
  